.name{
font-style: italic;
}

.song{
font-style: italic;
color: cornflowerblue;
}

.album{
font-style: italic;
color: rgb(51, 51, 211);
}
.playdates{
  float: left;
  background-color: cornflowerblue;
  width: 30%;
  padding: 4px;
  margin: 4px; 
  height: 210px;
  border-width: 2px;
  border-color:rgb(51, 51, 211);
  border-style:solid;
}

body{
  background-image: url(https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=582&q=80);
}

.photo2{
float: right;
padding: 2px;
}

.photo3{
float: left;
padding: 2px;
}

.photo4{
  float: right;
  padding: 2px;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  text-align: center;
}