h1{
  color: rgb(255,204,204);
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.flashy{
  color: rgb(255,204,204);
  font-family: Arial, Helvetica, sans-serif;;
}

.best{
color:rgb(220,20,60);
font-style: italic
}